<footer class="site-footer h-card">

  <div class="container-fluid">

    <div class="row">
      <div class="col-6">
        <div class="contact-list">
          <p>
            All images and texts are &#169; Death Guild Thunderdome or their respective authors, all rights reserved.
          </p>
            {%- if site.email -%}
            <p>{{ site.email }}</p>
            {%- endif -%}
        </div>
      </div>
      <div class="col-6">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
