<footer class="site-footer h-card">

  <div class="container-fluid">

    <div class="row">
      <div class="col-6">
        <ul class="contact-list">
          <li class="">
            All images and texts are &#169; Death Guild Thunderdome or their respective authors, all rights reserved.
            </li>
            {%- if site.email -%}
            <li>{{ site.email }}</li>
            {%- endif -%}
        </ul>
      </div>
      <div class="col-6">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
