/**
 * Basic styling
 */
body {
  background-image: url("/assets/bkg-playa.jpg");
}

/**
 * Custom styling
 */

div.boxed-up {
  margin: 1em 3em;
  padding: 1em;
  border: 3px solid black;
  text-align: center;
}
div.boxed-up ol {
  margin: 1em 3em;
  text-align: left;
}

/**
 * Header
 */
.site-header {
   border-bottom: 0px solid $grey-color-dark !important;
   color: #FFF8DC;
 }
h1.post-title {
  margin-top: 1em;
}
 /**
  * Page content
  */
  .page-content {
    padding: 0 0 $spacing-unit !important;
    flex: 1;
  }

  /**
   * Wrapper
   */
   div.wrapper {
     background-color: #F5F5DC;
     border: 3px solid black;
   }
  div.wrapper {
    background-color: #F5F5DC;
    border: 3px solid black;
  }

/**
 * Footer
 */

h2.footer-heading {
  margin-top: 1em;
}

.footer-col-1 {
   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
   width:         calc(35% - (#{$spacing-unit} / 2));
 }

.footer-col-2 {
   width: -webkit-calc(30% - (#{$spacing-unit} / 2)) !important;
   width:         calc(30% - (#{$spacing-unit} / 2)) !important;
 }

.footer-col-3 {
   width: -webkit-calc(35% - (#{$spacing-unit} / 2)) !important;
   width:         calc(35% - (#{$spacing-unit} / 2)) !important;
 }

/**
 * Images
 */

img {
  max-width: 100%;
}


/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */


/**
 * Code formatting
 */


/**
 * Clearfix
 */


/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/** Layout
*/
header.site-header {
  text-align: center;
}
